.banner {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 0;
  padding: 0 20px;
}

.banner a {
  padding: 8px 2%;
  color: white;
  text-align: center;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 4px 4px 0 0;
  background-color: rgba(255,255,255,.4);
}

.banner a:hover, .banner a.highlight {
  background-color: white;
  color: black;
}
.section {
  background-color: black;
  color: white;
  padding-top: 5px;
}
.banner {
  display: flex;
  align-items: flex-end;
}
.logo {
  margin-right: auto;
}